.imglist {
    width: 100%;
    border-radius:30px;
}
html, body {
    margin:0;
    padding:0;
    background: url('../photos/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}